{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="M. Jawad Bacha - Python Developer Portfolio">
        <meta name="keywords" content="Django, Python, Developer, Portfolio, Resume">
        <title>{% block title %}{% endblock title %} | Jawad</title>
    <!-- Tailwind CSS -->
        <link href="{% static 'src/output.css' %}" rel="stylesheet">
    <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <!-- Alpine.js -->
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.3/dist/cdn.min.js"></script>
    </head>
    <body>

        {% include "core/components/navbar.html" %}

    <!-- Main Content -->
        <main class="bg-gradient-to-r from-purple-500 to-pink-500 min-h-screen flex items-center justify-center p-8">
            {% block content %}{% endblock content %}
        </main>

    <!-- Footer -->
    </body>
</html>
