{% extends 'core/base.html' %}
{% load static %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <div class="flex flex-col items-center">
    <h1 class="relative w-[max-content] font-mono before:absolute before:inset-0 before:animate-typewriter before:bg-white after:absolute after:inset-0 after:w-[0.125em]">Can't welcome, we're under construction!</h1>
    <img class="cursor-pointer mt-3" src="{% get_media_prefix %}sign-board/under-construction.svg" alt="under-construction" width="50">
  </div>
{% endblock %}
